* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 0;
    text-align: center;
    background-color: black;
    color: white;
}

main {
    padding: 10px;
}

.addBtnWrapper {
    display: flex;
    justify-content: flex-end;
}

.addBtnWrapper button {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
    max-width: 100%;
}

.cartModal {
    width: 100vw;
    height: 100vh;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.5);
    

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
}

.cartModalHidden {
    display: none;
}

.cartModal-content {
    display: flex;
    flex-direction: column;
    gap: 50px;

    width: 80vw;
    height: 80vh;
    background-color: white;
    padding: 20px;

    border: 2px solid;
    overflow-y: scroll;
}

.cartModal-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cartModal-header button, .cartModal-header h1 {
    justify-self: flex-end;
}

form {
    display: grid;
    grid-template-columns: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form > * {
    padding: 10px 5px;
    resize: none;
}

